:root{
    --main-color:#3c4043;
    --main-background:#ffffff;
    --main-button:#f8f9fa;
    --footer-background:#f2f2f2;
    --footer-color:#70757a;
    --google-blue:#1a73e8;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    min-width: 320px;
    height: 50px;
}
header nav{
    width: 90%;
    min-width: 288px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav div{
    width: 50%;
}
header nav div ul{
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 1.0rem;
    font-weight: 700;
}
header nav .nav__left ul{
    justify-content: flex-start;
}
header nav .nav__left ul li{
    margin-right: 20px;
}
header nav .nav__left .all-item{
    padding-bottom: 5px;
    color: var(--google-blue);
    border-bottom: 2px solid var(--google-blue);
}
header nav .nav__right ul{
    justify-content: flex-end;
}
header nav .nav__right ul li{
    margin-left: 20px;
}
header nav div ul li a{
    color: var(--footer-color);
    text-decoration: none;
    
}
header nav .nav__left .burger-menu{
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(./assets/icons/burger-menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header nav .nav__right .dots-menu{
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(./assets/icons/apps-menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header nav .nav__right .sign-in-button{
    background-color:var(--google-blue);
    font-weight: 500;
    font-size: 1.4rem;
    padding: 8px 20px;
    border-radius: 5px;
    color: #fff;
    border: none;
}
main{
    width: 100%;
    min-width: 320px;
    height: auto;
}
main .main-container{
    width: 90%;
    min-width: 288px;
    margin: 0 auto;
}
main .main-container .main-logo{
    display: block;
    width: 50%;
    margin: 0 auto;
    max-width: 275px;
    margin-top: 90px;
}
main .main-container .main__search-bar{
    margin-top: 30px;
    border: 1px solid #dfe1e5;
}
main .main-container .search-icon{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(./assets/icons/loupe.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main .main-container .search-input{
    display: inline-block;
}
main .main-container .mic-icon{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(./assets/icons/mic.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
